<!--VIDEO-->
[wpv-layout-start]
	[wpv-items-found]
	<!-- wpv-loop-start -->
		<wpv-loop>
          <div class="row">
          	<div class="col-md-12">
          		<h2>Now Playing:<a href="[types field="video-url" output="raw"][/types]"> [wpv-post-title]</a></h2>
      		</div>
		</div>
		<div class="row">
			<div class="col-md-12 fitvids">
				<iframe width="420" height="345"src="[types field="video-url" output="raw"][/types]">
</iframe>
</div>
</div>
<div class="row">
<div class="col-md-12">
	<a href="/video"><h4>More Videos</h4></a>
</div>
</div>
		</wpv-loop>
	<!-- wpv-loop-end -->
	[/wpv-items-found]
	[wpv-no-items-found]
		[wpml-string context="wpv-views"]<strong>No items found</strong>[/wpml-string]
	[/wpv-no-items-found]
[wpv-layout-end]

[wpv-layout-start]
	[wpv-items-found]
	<!-- wpv-loop-start -->
	<div class="row">
		<div class="col-sm-12">
		<div class="row">
			<div id="gallery-carousel" class="owl-carousel col">
		<wpv-loop>
       <div class="row">
       	<div class="col-sm-12">
       		<a href></a>
   		
   			<a href><h2> Gallery Title</h2></a>
   			</div>
		</div>
		</wpv-loop>
		</div>
		</div>
		</div>
		</div>
	<!-- wpv-loop-end -->
	[/wpv-items-found]
	[wpv-no-items-found]
		[wpml-string context="wpv-views"]<strong>No items found</strong>[/wpml-string]
	[/wpv-no-items-found]
[wpv-layout-end]


<!--ALBUMS-->
[wpv-layout-start]
	[wpv-items-found]
	<!-- wpv-loop-start -->
	<div class="row">
		<div class="col-md-4">
		<wpv-loop>
		<img src="[types field="album-image" output="raw"][/types]" class="img-responsive">
		
		</div>
		<div class="col-md-8">
          <div class="row">
          	<div class="col-sm-8">
          		<div class="row">
          			<div class="col-sm-12">
          				<h2>[wpv-post-title]</h2>
      				</div>
  				</div>
  				<div class="row">
  					<div class="col-sm-12">
  						<p>text here</p>
					</div>
				</div>
			</div>
            <div class="col-sm-4">
            	<div class="row">
            		<div class="col-sm-12">
            			<p> Order on</p>
        			</div>
    			</div>
    			<div class="row">
                  <div class="col-sm-6">
                    <a href="[types field="store-url" output="raw"][/types]"><p>Store</p></a>
    				<div class="col-sm-6">
                      <a href="[types field="3rd-party-store-url" output="raw"][/types]">
                        [wpv-if store="wpcf-3rd-party-store-type" evaluate="$store=1"]
                        <img src="https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_itunes-lrg.svg" class="img-responsive" /> </a>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
		[wpv-view name="songs"]
		</div>
		</div>
	<!-- wpv-loop-end -->
	[/wpv-items-found]
	[wpv-no-items-found]
		[wpml-string context="wpv-views"]<strong>No items found</strong>[/wpml-string]
	[/wpv-no-items-found]
[wpv-layout-end]


<!--SONGS-->
[wpv-layout-start]
	[wpv-items-found]
<div class="row">
	<div class="col-sm-6">
	<ul>
      <wpv-loop>
        <div class="row">
        <div class="col-xs-1">
		<i class="fa fa-play fa-2x"></i>
		</div>
		<div class="col-xs-11">
		Track number  Track title
		</div>
		</div>
		</wpv-loop>
		</ul>
		</div>
		</div>          
          
          
          [/wpv-items-found]
	[wpv-no-items-found]
		[wpml-string context="wpv-views"]<strong>No items found</strong>[/wpml-string]
	[/wpv-no-items-found]
[wpv-layout-end]